@import "tailwindcss";

:root {
  @apply bg-white text-zinc-950 flex justify-center items-center h-full uppercase;

  @media (prefers-color-scheme: dark) {
    @apply bg-zinc-950 text-zinc-100;
  }
}
